@charset "utf-8";
/*BootStrap3 以移动端为优先*/
body { font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif; }
.fl{float:left;}
.fr{float: right;}
.clearfix{zoom: 1;}/*用于兼容IE*/
.clearfix{content: ".";display: block;clear: both;}
.logo{
    margin:0;
    padding: 0; /*去除图片与导航容器的间距*/
}
#navbar-collapse ul{
    margin-top:0 ;
}
#myCarousel{
    margin: 50px 0 0 0;
}
.carousel-inner img{margin: 0 auto;}
/*.carousel-control{*/
    /*font-size: 100px;*/
/*}*/
.content .header-h2{
    color: #0059b2;
    font-size: 20px;
    text-align: center;
    letter-spacing:1px;
}
.content .header-p{
    font-size: 15px;
    color:#999;
    letter-spacing: 1px;
    text-align: center;
}
.content{
    margin: 30px 0;
    color: #666;
}
.content .media-heading{
    margin: 5px 0 20px 0;
}
.content .others-p{
    color: #999999;
    text-decoration: line-through;
}
.content .row .col{
    padding: 20px;
}
.content2{
    text-align: center;
    background-color: #eeeeee;
    padding: 60px 20px;
}

.content2 img{
    width: 40%;
    height: 40%;
}
.text h3{font-size: 20px;}
.text p{font-size:14px;}

.content3{
    text-align: center;
    padding: 60px 0;
}
.content3 img{
    width: 70%;
    height: 65%;
}
.jumbotron{
   background:url("../img/bg.jpg");
    margin: 50px 0 0 0;
    color: #cccccc;
}
.jumbotron h1{
    font-size: 26px;
    padding: 0 0 0 20px;
}
.jumbotron h4{
    font-size: 14px;
    padding: 0 0 0 20px;
}
.container-fluid{padding: 0;}/*在移动端时，将内容向两边扩张一点，增加可视区域*/
.info{
     padding:20px 0;
     background-color: #eeeeee;
 }
.info-content{
    background-color: #ffffff;
    margin: 0 0 14px 0;
    box-shadow: 2px 2px 3px #ccc;
}
.info img{
    margin: 12px 0;
}
.info-content h4{
    padding: 2px 0 0 0;
    font-size: 14px;

    color: #333;
}
.info-content p{
    line-height: 1.6;
}
.info-right{
    background-color: #ffffff;
    box-shadow: 2px 2px 3px #ccc;
}
.info-right blockquote{
    margin: 0;
    padding: 0;
}
.info-right h2{
    font-size: 20px;
    color: #333333;
    padding: 5px;
}
.info-right h4{
    font-size: 16px;
    color: #333333;
    padding: 2px 0 0 0;
    line-height: 1.6;
}
.case{
    margin: 0;
    padding: 40px 0;
    background-color: #eeeeee;
    text-align: center;
}
.case h4{
    color: #666;
}
.case p{
    color: #666666;
    line-height: 1.6;
}
.about{
    background-color: #eeeeee;
    padding: 40px 0;
}
.about a{
    color: #0059b2;
}
.about-content{
    background-color: #ffffff;
    box-shadow: 2px 2px 3px #ccc;
}
.about-content h3{
    color: #333;
    font-size: 18px;
    margin: 0 0 12px 0;
    padding: 20px 0;
    border-bottom: 1px solid #eeeeee;
}
.about-content p{
    font-size: 13px;
    line-height:2;
    color: #333333;
}
#footer{
    border: 1px solid  #ccc;
    padding: 20px;
    background: #666666;
    text-align: center;
}
td,th{text-align:center;}
/*没有设置小于768px的是因为Bootstrap3是以移动端优先*/
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px)
{
    .container .header-h2 {
        font-size: 26px;
    }
    .container .header-p {
        font-size: 14px;
    }
    .text h3{font-size: 22px;}
    .text p{font-size:15px;}
    .float-text{float:left;}
    .float-image{float:right;}
    .jumbotron h1{
        font-size: 28px;
    }
    .jumbotron h4{
        font-size: 16px;
    }
    .info{
        padding:30px 0;
    }
    .info-content h4{
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .info-content{
        margin: 0 0 18px 0;
    }
    .about-content h3{
        font-size: 19px;

    }
    .about-content p{
        font-size: 14px;
    }
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px)
{
    .container .header-h2
    {
        font-size: 28px;
    }
    .container .header-p
    {
        font-size: 16px;
    }
    .text h3{font-size: 24px;}
    .text p{font-size:16px;}
    .jumbotron h1{
        font-size: 33px;
    }
    .jumbotron h4{
        font-size: 17px;
    }
    .info{
        padding:40px 0;
    }
    .info-content h4{
        font-size: 18px;
    }
    .about-content h3{
        font-size: 20px;

    }
    .about-content p{
        font-size: 15px;
    }
}
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px)
{
    .container .header-h2
         {
             font-size: 30px;
         }
    .container .header-p
    {
        font-size: 18px;
    }
    .text h3{font-size: 26px;}
    .text p{font-size:18px;}
    .jumbotron h1{
        font-size: 36px;
    }
    .jumbotron h4{
        font-size: 18px;
    }
    .info-content h4{
        font-size: 20px;
    }
    .about-content h3{
        font-size: 22px;

    }
    .about-content p{
        font-size: 16px;
    }
}
